<template>
  <v-app>
    <!-- Top Navbar -->
    <v-toolbar app dark :color="(offsetTop < 500) ? 'transparent elevation-0' : 'purple'">
      <Navbar :menuVisible.sync="isVisible"/>
    </v-toolbar>
    <!-- Side Menu -->
    <v-navigation-drawer app width="240" v-model="isVisible" temporary fixed floating persistent mobile-break-point="991" :right="($i18n.locale == 'ar') ? true : false">
      <Sidemenu :menuVisible.sync="isVisible"/>
    </v-navigation-drawer>
    <!-- Sections -->
    <v-content class="pa-0" v-scroll="onScroll">
      <!-- Home -->
      <Home :tempColor="clientColor"/>
      <!-- About -->
      <About :tempColor="clientColor"/>
      <!-- Works -->
      <Works :tempColor="clientColor"/>
      <!-- Team -->
      <Team :tempColor="'grey lighten-3'"/>
      <!-- Contact -->
      <Contact :tempColor="clientColor"/>
      <!-- Footer -->
      <Footer :tempColor="clientColor"/>
    </v-content>
  </v-app>
</template>

<script>
import Sidemenu from './components/sidemenu.vue'
import Navbar from './components/navbar.vue'
import Footer from '../../components/footer.vue'
import Home from './sections/home.vue'
import About from './sections/about.vue'
import Works from './sections/works.vue'
import Team from './sections/team.vue'
import Contact from './sections/contacts.vue'

export default {
  name: 'app',
  data () {
    return {
      clientColor: 'white',
      isVisible: false,
      windoWidth: window.innerWidth,
      offsetTop: 0
    }
  },
  components: {
    Sidemenu,
    Navbar,
    Home,
    About,
    Works,
    Team,
    Contact,
    Footer
  },
  methods: {
    onScroll (e) {
      this.offsetTop = e.target.scrollingElement.scrollTop
    }
  }
}
</script>

<style lang="scss" scoped>
  .v-app {
    font-family: 'Open Sans', sans-serif !important;
  }
</style>
