body{
    overflow-x: hidden;
}

.main-panel>.footer{
    /* position: fixed; */
    bottom: 0;
}
.btn.btn-file>input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.table td img{
    width: 30px!important;
}
.form-group{
    padding: unset!important;
    margin: 0 0 27px 0;
}
legend{margin-bottom: 0; }

.sidebar .nav i, .off-canvas-sidebar .nav i
,.sidebar .nav svg, .off-canvas-sidebar .nav svg{
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}

.sidebar .nav li.active>a i, .off-canvas-sidebar .nav li.active>a i
,.sidebar .nav li>a:active i, .off-canvas-sidebar .nav li>a:active i
,.sidebar .nav li>a:active, .off-canvas-sidebar .nav li>a:active
,.sidebar .nav li>a:active svg, .off-canvas-sidebar .nav li>a:active svg
,.sidebar .nav li.active>a svg, .off-canvas-sidebar .nav li.active>a svg {
    color: #FFFFFF;
}

li.active a[data-color="orange"],li a[data-color="orange"]:active{background-color: #fb8c00!important;color: white;}
li.active a[data-color="orange"]:hover{background-color: #ffa726!important;}

li.active a[data-color="purple"],li a[data-color="purple"]:active{background-color: #8e24aa!important;color: white;}
li.active a[data-color="purple"]:hover{background-color: #ab47bc!important;}

li.active a[data-color="green"],li a[data-color="green"]:active{background-color: #43a047!important;color: white;}
li.active a[data-color="green"]:hover{background-color: #66bb6a!important;}

li.active a[data-color="red"],li a[data-color="red"]:active{background-color: #e53935!important;color: white;}
li.active a[data-color="red"]:hover{background-color: #ef5350!important;}

li.active a[data-color="blue"],li a[data-color="blue"]:active{background-color: #00acc1!important;color: white;}
li.active a[data-color="blue"]:hover{background-color: #26c6da!important;}



.card .card-footer .stats{margin: 0 2px;}
.card .card-footer .stats .material-icons {
    top: unset;
}

.text-orange{color: #fb8c00;}
.text-orange:hover{color: #ffa726;}

.text-purple{color: #8e24aa;}
.text-purple:hover{color: #ab47bc;}

.text-green{color: #43a047;}
.text-green:hover{color: #66bb6a;}

.text-red{color: #e53935;}
.text-red:hover{color: #ef5350;}

.text-blue{color: #00acc1;}
.text-blue:hover{color: #26c6da;}
.card-icon{padding: 0px 0px 10px 10px;float:right;}
.card-count{margin: -9px 0px 10px 10px;float:right;}

audio, canvas, progress, video {
    width: 100%;
}
td video{width: 30px;height: 30px;}
td audio{
    width:64px;
    margin: 0 12px -12px 0px;
}



@media (min-width: 992px) {
    .card [class*="col-"] {
        padding: 6px;
    }
    .card [class*="col-"]:first-child {
        padding-left: 15px;
    }
    .card [class*="col-"]:last-child {
        padding-right: 15px;
    }
}


.dropdown .text-primary a{
    color: #9c27b0!important;
}

.dropdown .text-primary a:hover{
    color: #ffffff!important;
}

.table-responsive {
    overflow: auto!important;
}
.card .card {
    background: whitesmoke;
}
.card .card .card {
    background: white;
}
