.sidebar, .off-canvas-sidebar{
    right: 0;
    left: unset;
}
.main-panel{
    float: left;
}

.pull-left{float: right!important;}
.pull-right{float: left!important;}

th{text-align:right;}


.nav {
    padding-right: 0;
    padding-left: unset;
}

.navbar-right {
    float: left!important;
    margin-left: -15px;
    margin-right: unset;
}
/* .navbar-right .dropdown-menu{
    left: 0;
    right: unset;
} */

@media (min-width: 768px)
{
.navbar-header {
    float: right;
}
}


@media (min-width: 1200px)
{
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{float: right;}
}
@media (min-width: 992px)
{
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float: right;}
}



.card-stats .card-header{float: right;}
.card-stats .card-content{text-align: left;}

@media (min-width: 768px)
{
.navbar-right .dropdown-menu {
    right: auto!important;
    left: 0!important;
}
}

.nav-tabs>li{float: right;}

.card-nav-tabs .nav-tabs-title {float: right;padding: 10px 0px 10px 10px;}
.card-icon{padding: 0px 10px 10px 0px;float:left;}
.card-count{margin: -9px 0px 10px 0px;float:left;}
