<template>
  <div :class="tempColor">
    <v-container id="About" fill-height>
      <v-layout row wrap align-center py-5>
        <v-flex md5 xs12 mb-5>
          <h1 class="display-2 font-weight-light mb-2">{{ $t('About.Title') }}</h1>
          <p class="subheading font-weight-regular mb-0">
            {{ $t('About.Text') }}
          </p>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex md5 xs12>
          <v-responsive>
            <v-img height="300" :src="getImgUrl('about_us.png')" :alt="$t('About.Title')" contain/>
          </v-responsive>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ['tempColor'],
  methods: {
    getImgUrl(pic) {
     // return require('@/assets/img/'+pic)
     return './assets/img/'+pic;
    }
  }
}
</script>

<style lang="scss" scoped>
#About {
  min-height: 100vh;
}
</style>
