<template>
  <div :class="tempColor">
    <v-parallax :height="windowHight" :src="getImgUrl('header_background.png')">
      <v-container fluid fill-height id="Home">
        <v-layout column>
          <v-layout row wrap align-center justify-space-between>
            <v-flex pt-5 mt-5 xs12 class="hidden-sm-and-down"></v-flex>
            <v-flex md5 xs12>
              <h2 class="display-3 text-uppercase font-weight-regular mb-1 hidden-sm-and-down">{{ $t('Home.keyToSuccess') }}</h2>
              <h5 class="display-1 text-uppercase font-weight-regular mt-5 mb-3 hidden-md-and-up">{{ $t('Home.keyToSuccess') }}</h5>
              <h6 class="title font-weight-light mb-4">
                {{$t('Home.keyDescription')}}
              </h6>
              <v-btn round large depressed light
                class="purple--text text--darken-1 mx-0 text-capitalize"
                @click="$vuetify.goTo('#Contact', {duration: 1000, easing: 'easeInOutCubic', offset: -65})"
              >{{ $t('Navbar.Contact') }}</v-btn>
            </v-flex>
            <!-- <v-spacer></v-spacer> -->
            <v-flex md5 xs12 class="hidden-xs-and-down" v-if="windoWidth > 425">
              <v-img height="450" :src="getImgUrl('header_image.png')" :alt="$t('Navbar.Home')" contain/>
            </v-flex>
          </v-layout>
          <v-layout align-end justify-center>
            <v-btn fab depressed large dark color="transparent" @click="$vuetify.goTo('#About', {duration: 1000, easing: 'easeInOutCubic', offset: -65})">
              <v-img width="70" height="70" :src="getImgUrl('next_arrow.png')" :alt="$t('Navbar.About')" />
            </v-btn>
          </v-layout>
        </v-layout>
      </v-container>
    </v-parallax>
  </div>
</template>

<script>
export default {
  props: ['tempColor'],
  data () {
    return {
      windowHight: window.innerHeight,
      windoWidth: window.innerWidth
    }
  },
  methods: {
    getImgUrl(pic) {
     // return require('@/assets/img/'+pic)
     return './assets/img/'+pic;
    }
  }
}
</script>

<style lang="scss" scoped>
 .title {
   line-height: 1.4 !important;
 }
</style>
