<template>
  <div :class="tempColor">
    <v-container id="Work" pa-0 fluid>
      <v-layout row wrap>
        <v-flex lg3 md6 xs12>
          <v-card flat tile height="300">
            <v-container fill-height>
              <v-layout row align-center>
                <v-flex xs5>
                  <v-img :src="getImgUrl('our_work.png')" height="100" contain></v-img>
                </v-flex>
                <v-flex xs7>
                  <v-card-title>
                    <div class="" v-if="$i18n.locale == 'en'">
                      <div class="display-2 font-weight-regular ma-0">Our</div>
                      <div class="display-2 font-weight-bold ma-0">work</div>
                    </div>
                    <div class="" v-else>
                      <div class="display-2 font-weight-regular ma-0">أعمالنا</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
        <v-flex lg3 md6 xs12 v-for="(work, i) in works" :key="i">
          <v-hover>
            <v-card slot-scope="{ hover }" flat tile>
              <v-img :src="work.src" height="300px">
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text"
                    style="height: 100%">
                    {{work.title}}
                  </div>
                </v-expand-transition>
              </v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ['tempColor'],
  data () {
    return {
      works: [
        {title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg'},
        {title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg'},
        {title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg'},
        {title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg'},
        {title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg'},
        {title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg'},
        {title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg'}
      ]
    }
  },
  methods: {
    getImgUrl(pic) {
      //return require('@/assets/img/'+pic)
      return './assets/img/'+pic;
    }
  }
}
</script>

<style lang="scss" scoped>
#Works {
  min-height: 100vh;
}
.v-card--reveal {
  background: black;
  align-items: center;
  top: 0;
  justify-content: center;
  opacity: .7;
  position: absolute;
  width: 100%;
}
</style>
