<template>
    <div :class="tempColor">
        <v-container id="Footer">
            <v-layout row wrap justify-center>
                <!-- Footer -->
                <v-flex xs8 class="mx-auto my-1 text-xs-center">
                    <div class="mb-3">
                        <v-btn v-for="(social,i) in settings.social_media" :key="i" :href="social" color="grey lighten-1" dark icon target="_blank" v-if="social">
                            <v-icon>{{ 'mdi-' + i }}</v-icon>
                        </v-btn>
                    </div>
                    <v-divider light></v-divider>
                    <div class="pt-4">
                        <h4 class="text-xs-center mb-0 body-1 grey--text">
                            &copy; {{ $t('Contact.Rights') }}
                        </h4>
                    </div>
                </v-flex>

            </v-layout>
        </v-container>
        <v-fab-transition>
            <!-- :href="'whatsapp://send?phone='+settings.contact_us.mobile.sales" -->

            <v-btn :href="'https://wa.me/'+settings.contact_us.mobile.sales" :color="'green'" dark fab fixed bottom v-if="$i18n.locale == 'en'" left>
                <v-icon>{{ 'mdi-whatsapp' }}</v-icon>
            </v-btn>
            <v-btn :href="'https://wa.me/'+settings.contact_us.mobile.sales" :color="'green'" dark fab fixed bottom v-else right>
                <v-icon>{{ 'mdi-whatsapp' }}</v-icon>
            </v-btn>
        </v-fab-transition>
    </div>
</template>

<script>
    export default {
        props: ['tempColor'],
        data () {
            return {
                windoWidth : window.innerWidth,
                settings:{
                    social_media :{facebook: '',twitter: '',google: '',instagram: '',youtube: '',linkedin: '',dribbble: '',pinterest: ''},
                    contact_us :
                    {
                        mobile: {
                            sales:'',
                            support:'',
                        },
                        address:{
                            ar:'',
                            en:'',
                        },
                        email:{
                            support:'',
                            sales:'',
                            job:'',
                        },
                    }
                }
            }
        },

        // created: function ()
        beforeCreate: function ()
        {
            axios.get('api/settings')
            .then(response => {
                this.settings = response.data;
            })
            .catch(error => {
                this.settings = [];
            })
        },
        methods: {
            getImgUrl(pic) {
                //return require('@/assets/img/'+pic)
                return '/assets/img/'+pic;
            }
        }
    }
</script>

<style lang="scss" scoped>
    #Contact {
        min-height: 100vh;
        .v-card {
            border: 1px solid;
            border-radius: 10px;
            &.email {
                border-color: #4A148C;
            }
            &.mobile {
                border-color: #AD1457;
            }
        }
    }
</style>
