<template>
    <div id="Sidemenu" class="pt-2">
        <v-list class="pa-1">
            <v-list-tile tag="div">
                <v-list-tile-content>
                    <v-responsive width="75">
                        <v-img class="mt-1" :src="getImgUrl('irellia.png')" alt="irellia" />
                    </v-responsive>
                </v-list-tile-content>

                <v-list-tile-action>
                    <v-btn icon @click.stop="$emit('update:menuVisible', false)">
                        <v-icon v-if="$i18n.locale == 'en'">mdi-chevron-left</v-icon>
                        <v-icon v-else>mdi-chevron-right</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
            <v-divider light></v-divider>

            <v-list-tile v-for="(link, i) in links" :key="i" :href="get_link(link.route)">
                <v-list-tile-action>
                    <v-icon>{{ link.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>{{ $t(`Navbar.${link.title}`) }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <!-- Change language -->
            <v-list-tile @click="changeLang($i18n.locale)">
                <v-list-tile-action>
                    <v-icon>mdi-translate</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title v-if="$i18n.locale == 'ar'">En</v-list-tile-title>
                    <v-list-tile-title v-else>عربي</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>
<script>
export default {
    name: 'Sidemenu',
    props: ['menuVisible'],
    data () {
        return {
            links: [
                {title: 'Home', icon: 'mdi-home', route: '', offset: -5},
                {title: 'Work', icon: 'mdi-progress-wrench', route: this.$t('slug.works'), offset: -70},
            ]
        }
    },
    methods: {
        get_link(slug = '') {
            if(slug != ''){slug = '/'+slug ;}
            return '/'+this.$i18n.locale+slug;
        },
        getImgUrl(pic) {
            //return require('@/assets/img/'+pic)
            return '/assets/img/'+pic
        },
        changeLang(lang) {
            if (lang == 'en') {
                this.$i18n.locale = 'ar'
                this.$vuetify.rtl = true
                $('html').attr('dir','rtl');
            } else {
                this.$i18n.locale = 'en'
                this.$vuetify.rtl = false
                $('html').attr('dir','ltr');
                // document.getElementsByTagName("html")[0].getAttribute("lang");
            }
        }
    }
}
</script>
<style>
    a:active, a:hover
    {
        text-decoration: none!important;
    }
</style>
