<template>
    <div :class="tempColor">
        <v-container id="Contact">
            <v-layout row wrap justify-center>
                <v-flex xs12>
                    <h4 class="display-1 text-xs-center mb-5">{{ $t('Contact.Title') }}</h4>
                </v-flex>
                <!-- Via Email and Mobile -->
                <v-flex lg4 md6 xs10>
                    <v-card class="email mx-auto" max-width="320" height="200" flat>
                        <v-card-title class="justify-center">
                            <h3 class="d-flex headline font-weight-light mb-0 purple--text text--darken-4">
                                <!-- <v-icon medium color="purple darken-4">mdi-email</v-icon> -->
                                <v-img :src="getImgUrl('email.png')" width="25" contain></v-img>
                                <span class="mx-3">{{ $t('Contact.Email') }}</span>
                            </h3>
                        </v-card-title>

                        <v-layout>
                            <v-divider color="purple"></v-divider>
                        </v-layout>

                        <v-card-text class="text-xs-center">
                            <table class="mx-auto">
                                <tr :align="($i18n.locale == 'ar') ? 'right' : 'left'">
                                    <td>
                                        <span class="purple--text text--darken-4">{{ $t('Contact.Support') }}</span>
                                    </td>
                                    <td>
                                        <v-btn class="my-0 pt-0 text-lowercase" :href="'mailto:'+settings.contact_us.email.support" color="grey" flat small>{{ settings.contact_us.email.support }}</v-btn>
                                    </td>
                                </tr>
                                <tr :align="($i18n.locale == 'ar') ? 'right' : 'left'">
                                    <td>
                                        <span class="purple--text text--darken-4">{{ $t('Contact.Sales') }}</span>
                                    </td>
                                    <td>
                                        <v-btn class="my-0 pt-0 text-lowercase" :href="'mailto:'+settings.contact_us.email.sales" color="grey" flat small>{{ settings.contact_us.email.sales }}</v-btn>
                                    </td>
                                </tr>
                                <tr :align="($i18n.locale == 'ar') ? 'right' : 'left'">
                                    <td>
                                        <span class="purple--text text--darken-4">{{ $t('Contact.Job') }}</span>
                                    </td>
                                    <td>
                                        <v-btn class="my-0 pt-0 text-lowercase" :href="'mailto:'+settings.contact_us.email.job" color="grey" flat small>{{ settings.contact_us.email.job }}</v-btn>
                                    </td>
                                </tr>
                            </table>
                        </v-card-text>
                    </v-card>
                </v-flex>

                <v-flex lg4 md6 xs10 :class="{'mt-4' : windoWidth < 450}">
                    <v-card class="mobile mx-auto" max-width="320" height="200" flat>
                        <v-card-title class="justify-center">
                            <h3 class="headline font-weight-light mb-0 pink--text text--darken-3">
                                <v-icon medium color="pink darken-3">mdi-cellphone-iphone</v-icon>
                                <span class="mx-3">{{ $t('Contact.Mobile') }}</span>
                            </h3>
                        </v-card-title>

                        <v-layout>
                            <v-divider color="pink"></v-divider>
                        </v-layout>

                        <v-card-text class="text-xs-center">
                            <table class="mx-auto mt-2">
                                <tr :align="($i18n.locale == 'ar') ? 'right' : 'left'">
                                    <td>
                                        <span class="pink--text text--darken-3">{{ $t('Contact.Support') }}</span>
                                    </td>
                                    <td>
                                        <v-btn class="my-0 pt-0 text-lowercase" :href="'callto:'+settings.contact_us.mobile.support" color="grey" flat small>{{ settings.contact_us.mobile.support }}</v-btn>
                                    </td>
                                </tr>
                                <tr :align="($i18n.locale == 'ar') ? 'right' : 'left'">
                                    <td>
                                        <span class="pink--text text--darken-3">{{ $t('Contact.Sales') }}</span>
                                    </td>
                                    <td>
                                        <v-btn class="my-0 pt-0 text-lowercase" :href="'callto:'+settings.contact_us.mobile.sales" color="grey" flat small>{{ settings.contact_us.mobile.sales }}</v-btn>
                                    </td>
                                </tr>
                            </table>
                        </v-card-text>
                    </v-card>
                </v-flex>

                <!-- Divider -->
                <v-flex row lg8 xs12 class="my-5">
                    <v-layout row wrap align-center justify-center class="mx-auto">
                        <v-flex xs4>
                            <v-divider light></v-divider>
                        </v-flex>
                        <v-flex md3 xs4>
                            <h6 class="body-1 grey--text text-xs-center">{{ $t('Contact.Message') }}</h6>
                        </v-flex>
                        <v-flex xs4>
                            <v-divider light></v-divider>
                        </v-flex>
                    </v-layout>
                </v-flex>

                <!-- Via Form -->
                <v-flex md6 xs12 class="hidden-sm-and-down" v-if="windoWidth > 425">
                    <v-img :src="getImgUrl('send_arrow.png')" width="350" contain></v-img>
                </v-flex>

                <v-flex md6 xs12>
                    <v-form ref="form" @submit.prevent="submit" :class="{'elevation-1 mb-3' : windoWidth < 450}">
                        <v-container>
                            <v-layout row wrap>

                                <v-flex xs12 md6>
                                    <v-text-field
                                    v-model="form.name"
                                    :rules="rules.name"
                                    :label="$t('Contact.Form.name')"
                                    required
                                    outline
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12 md6>
                                    <v-text-field
                                    v-model="form.email"
                                    :rules="rules.email"
                                    :label="$t('Contact.Form.email')"
                                    required
                                    outline
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12 md6>
                                    <v-text-field
                                    v-model="form.mobile"
                                    :rules="rules.mobile"
                                    :label="$t('Contact.Form.mobile')"
                                    required
                                    outline
                                    mask="(###) ### - #####"
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12 md6>
                                    <v-text-field
                                    v-model="form.subject"
                                    :rules="rules.subject"
                                    :label="$t('Contact.Form.subject')"
                                    required
                                    outline
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12>
                                    <v-textarea
                                    v-model="form.message"
                                    color="teal"
                                    :label="$t('Contact.Form.message')"
                                    :rules="rules.message"
                                    required
                                    outline
                                    clearable
                                    no-resize
                                    >
                                </v-textarea>
                            </v-flex>

                            <v-flex xs12>
                                <v-progress-linear height="3" :indeterminate="true" v-if="sending"></v-progress-linear>
                            </v-flex>

                            <v-flex d-flex xs12>
                                <v-btn flat @click="resetForm">{{ $t('Contact.Form.Cancel') }}</v-btn>
                                <v-btn :disabled="!formIsValid" color="primary" type="submit" block round>{{ $t('Contact.Form.Send') }}</v-btn>
                            </v-flex>

                            <v-flex xs12>
                                <v-snackbar v-model="snackbar" color="primary" :timeout="2000">
                                    {{ $t('Contact.Form.Snackbar') }}
                                    <v-btn dark flat @click="snackbar = false">
                                        {{ $t('Contact.Form.Close') }}
                                    </v-btn>
                                </v-snackbar>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-flex>

        </v-layout>
    </v-container>
</div>
</template>

<script>
    export default {
        props: ['tempColor'],
        data () {
            const defaultForm = Object.freeze({
                name: '',
                email: '',
                mobile: '',
                subject: '',
                message: ''
            })
            return {
                windoWidth : window.innerWidth,
                form: Object.assign({}, defaultForm),
                rules: {
                    name: [
                    v => !!v || this.$t('Contact.Form.Validation.Required'),
                    v => (v && v.length) <= 20 || this.$t('Contact.Form.Validation.NameLimit')
                    ],
                    email: [
                    v => !!v || this.$t('Contact.Form.Validation.Required'),
                    v => (v && v.length) <= 20 || this.$t('Contact.Form.Validation.NameLimit')
                    ],
                    mobile: [
                    v => !!v || this.$t('Contact.Form.Validation.Required')
                    ],
                    subject: [
                    v => !!v || this.$t('Contact.Form.Validation.Required'),
                    v => (v && v.length) <= 20 || this.$t('Contact.Form.Validation.NameLimit')
                    ],
                    message: [
                    v => !!v || this.$t('Contact.Form.Validation.Required'),
                    v => (v && v.length) <= 200 || this.$t('Contact.Form.Validation.MessageLimit')
                    ]
                },
                defaultForm,
                sending: false,
                snackbar: false,
                settings:{
                    social_media :{facebook: '',twitter: '',google: '',instagram: '',youtube: '',linkedin: '',dribbble: '',pinterest: ''},
                    contact_us :
                    {
                        mobile: {
                            sales:'',
                            support:'',
                        },
                        address:{
                            ar:'',
                            en:'',
                        },
                        email:{
                            support:'',
                            sales:'',
                            job:'',
                        },
                    }
                },
                validate:{error:{},message:{}}
            }
        },

        // created: function ()
        beforeCreate: function ()
        {
            axios.get('api/settings')
            .then(response => {
                this.settings = response.data;
            })
            .catch(error => {
                this.settings = [];
            })
        },
        computed: {
            formIsValid () {
                return (
                this.form.name &&
                this.form.email &&
                this.form.mobile &&
                this.form.subject &&
                this.form.message
                )
            }
        },
        methods: {
            getImgUrl(pic) {
                //return require('@/assets/img/'+pic)
                return '/assets/img/'+pic;
            },
            resetForm () {
                this.form = Object.assign({}, this.defaultForm)
                this.$refs.form.resetValidation()
                this.$refs.form.reset()
            },
            submit (e) {
                e.preventDefault();
                let vm = this;
                axios.put('api/contact_us',vm.form)
                .then(response => {
                    var ret = vm.validate = response.data;
                    console.log(ret);
                    // vm.validate = response.data;
                    if (ret['message']) {
                        vm.sending = true
                        setTimeout(() => {
                            vm.resetForm()
                            vm.sending = false
                        }, 1500);
                        setTimeout(() => {
                            vm.snackbar = true
                        }, 2000);
                    }
                    if (ret['errors'])
                    {
                        vm.rules = ret['errors'];
                    }
                })
                .catch(error => {
                    console.log(error);
                    vm.validate = {error:{genral:this.$t('Content.Form.Validation.genral_error')}};
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    #Contact {
        min-height: 100vh;
        .v-card {
            border: 1px solid;
            border-radius: 10px;
            &.email {
                border-color: #4A148C;
            }
            &.mobile {
                border-color: #AD1457;
            }
        }
    }
</style>
