<template>
    <div :class="tempColor" dir="ltr">
        <v-container fill-height id="Team">
            <v-layout row wrap align-center justify-center>
                <v-flex xs12>
                    <h4 class="display-1 text-xs-center mt-5">{{ $t('Navbar.Team') }}</h4>
                </v-flex>
                <v-flex xs12>
                    <swiper :options="swiperOption" class="pt-5 pr-1">
                        <swiper-slide v-for="(member,i) in team" :key="i">
                            <v-flex py-5>
                                <v-card width="320" height="360" hover>
                                    <div class="profile-image text-xs-center">
                                        <img :src="getImgUrl(member.avatar,member.gender)" height="120">
                                    </div>

                                    <v-card-title primary-title>
                                        <div class="text-xs-center mx-auto mt-5">
                                            <h3 class="headline mb-0">{{member.name[$i18n.locale]}}</h3>
                                            <p>{{member['job_title'][$i18n.locale]}}</p>
                                        </div>
                                    </v-card-title>

                                    <v-card-text class="text-xs-center pa-0">
                                        <p class="px-2">
                                            {{member['description'][$i18n.locale]}}
                                        </p>
                                    </v-card-text>

                                    <v-card-actions class="justify-center">
                                        <v-btn :href="member.social_media.twitter" color="grey lighten-1" dark icon v-if="member.social_media.twitter" target="_blank">
                                            <v-icon>mdi-twitter</v-icon>
                                        </v-btn>
                                        <v-btn :href="member.social_media.facebook" color="grey lighten-1" dark icon v-if="member.social_media.facebook" target="_blank">
                                            <v-icon>mdi-facebook</v-icon>
                                        </v-btn>
                                        <v-btn :href="member.social_media.linkedin" color="grey lighten-1" dark icon v-if="member.social_media.linkedin" target="_blank">
                                            <v-icon>mdi-linkedin</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-flex>
                        </swiper-slide>

                        <div class="swiper-button-prev hidden-sm-and-down" slot="button-prev"></div>
                        <div class="swiper-button-next hidden-sm-and-down" slot="button-next"></div>
                    </swiper>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    // Swiper Component
    import 'swiper/dist/css/swiper.css'
    import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
        props: ['tempColor'],
        data () {
            return {
                swiperOption: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                    centeredSlides: true,
                    freeMode: true,
                    loop: true,
                    dir: 'ltr',
                    slideToClickedSlide: true,
                    autoplay: {
                        delay: 5000,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    // Responsive breakpoints
                    breakpoints: {
                        // when window width is <= 480px
                        480: {
                            slidesPerView: 1,
                            freeMode: false,
                        },
                        // when window width is <= 640px
                        640: {
                            slidesPerView: 2,
                        }
                    }
                },
                team: []
            }
        },
        components: {
            swiper, swiperSlide
        },
        beforeCreate: function ()
        {
            axios.get('api/team')
            .then(response => {
                this.team = response.data;
            })
            .catch(error => {
                this.team = [];
            })
        },
        methods: {
            getImgUrl(pic,gender) {
                if (pic == '')
                {
                    return '/assets/img/avatar/' + gender + '.png'
                }
                else
                {
                    return '/storage/team/'+pic;
                }
                //return require('@/assets/img/'+pic)
            }
        }
    }
</script>

<style lang="scss" scoped>
    #Team {
        min-height: 100vh;
        .v-card {
            position: relative;
            border-radius: 15px;
            cursor: pointer;
            .profile-image {
                position: absolute;
                width: 120px;
                height: 120px;
                top: -60px;
                left: 50%;
                transform: translateX(-50%);
                overflow: hidden;
                border: 1px solid rgba(0,0,0,.7);
                border-radius: 50%;
                padding: 1.5px;
                background: rgba(0,0,0,.5);
            }
        }
        .swiper-container {
            .swiper-slide {
                transform: scale(0.7);
                opacity: 0.7;
                transition: all 1 ease;
                &.swiper-slide-active {
                    transform: scale(1);
                    opacity: 1;
                    .v-card {
                        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
                        0 8px 10px 1px rgba(0,0,0,.14),
                        0 3px 14px 2px rgba(0,0,0,.12);
                    }
                }
            }
        }
    }
</style>
