<template>
  <div :class="tempColor">
    <v-container id="Work" pa-0 fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <div class="text-xs-center mb-5" v-if="$i18n.locale == 'en'">
            <div class="display-2 font-weight-regular ma-0">Our work</div>
          </div>
          <div class="text-xs-center mb-5" v-else>
            <div class="display-2 font-weight-regular ma-0">أعمالنا</div>
          </div>
        </v-flex>
        <!-- <v-flex lg3 md6 xs12>
          <v-hover>
            <v-card slot-scope="{ hover }" flat tile height="300">
              <a v-bind:href="get_link()">
                <v-container fill-height>
                  <v-layout row align-center>
                    <v-flex xs5>
                      <v-img :src="getImgUrl('our_work.png','assets/img')" height="100" contain></v-img>
                    </v-flex>
                    <v-flex xs7>
                      <v-card-title>
                        <div class="" v-if="$i18n.locale == 'en'">
                          <div class="display-2 font-weight-regular ma-0">Our work</div>
                        </div>
                        <div class="" v-else>
                          <div class="display-2 font-weight-regular ma-0">أعمالنا</div>
                        </div>
                      </v-card-title>
                    </v-flex>
                  </v-layout>
                  <v-expand-transition v-if="hover">
                      <div v-if="$i18n.locale == 'en'" class="text-center d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text" style="height: 100%">
                          <div class="display-2 font-weight-regular ma-0">Our</div>
                          <div class="display-2 font-weight-bold ma-0">work</div>
                      </div>
                      <div v-else class="text-center d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text" style="height: 100%">
                          <div class="display-2 font-weight-regular ma-0">أعمالنا</div>
                      </div>
                  </v-expand-transition>
                </v-container>
              </a>
            </v-card>
          </v-hover>
        </v-flex> -->
        <v-flex lg3 md6 xs12 v-for="(work, i) in works" :key="i">
          <v-hover>
            <!-- v-bind:href="get_link(work.slug[$i18n.locale])" -->
            <v-card slot-scope="{ hover }" flat tile>
              <a v-b-modal="'work'+i">
                <v-img :src="getImgUrl(work.thumbnail,'storage/work')" height="300px">
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text"
                      style="height: 100%">
                        {{work.name[$i18n.locale]}}
                    </div>
                  </v-expand-transition>
                </v-img>
              </a>
            </v-card>
          </v-hover>
          <!-- Modal Component -->
          <b-modal :id="'work'+i" body-class="p-0" size="xl" title-tag="h2" hide-footer :title="work.name[$i18n.locale]">
            <v-img v-if="work.banner" :src="getImgUrl(work.banner,'storage/work')">
            </v-img>                        
            <div class="my-4" v-html="work.description[$i18n.locale]" v-if="work.description[$i18n.locale]"></div>
          </b-modal>
        </v-flex>
        <v-flex lg3 md6 xs12>
          <v-hover>
            <v-card flat tile :href="get_link()" height="300">
              <v-card-title class="justify-center align-center fill-height">
                <div class="" v-if="$i18n.locale == 'en'">
                  <div class="display-2 font-weight-regular ma-0">View more</div>
                </div>
                <div class="" v-else>
                  <div class="display-2 font-weight-regular ma-0">المزيد</div>
                </div>
              </v-card-title>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script>
  export default {
    props: ['tempColor'],
    data () {
      return {
        works: []
      }
    },
    beforeCreate: function () {
      axios.get('api/works/featured')
      .then(response => {
        this.works = response.data.data;
      })
      .catch(error => {
        this.works = [];
      })
    },
    methods: {
      get_link(slug = '') {
        if(slug != ''){slug = '/'+slug ;}
        return '/'+this.$i18n.locale+'/'+this.$t('slug.works')+slug;
      },
      getImgUrl(pic,path) {
        //return require('@/assets/img/'+pic)
        return '/'+path+'/'+pic;
      }
    }
    }
</script>

<style lang="scss" scoped>
  #Works {
    min-height: 100vh;
  }
  .v-card--reveal {
    background: black;
    align-items: center;
    top: 0;
    justify-content: center;
    opacity: .7;
    position: absolute;
    width: 100%;
  }
</style>
