<template>
  <div :class="tempColor">
    <v-container id="Work" pa-0>
      <v-layout row wrap>
        <v-flex xs12 class="text-xs-center my-5">
          <h2 class="display-2 font-weight-regular ma-0">{{$t('Navbar.Work')}}</h2>
        </v-flex>

        <v-flex xs12 d-flex justify-space-around mb-4>
          <v-btn outline round color="green" @click="filter = 'all'">
            All
          </v-btn>
          <v-btn outline round color="green" @click="filter = category.id" v-for="(category, index) in categories" :key="index">
            {{ category.name[$i18n.locale] }}
          </v-btn>
        </v-flex>

        <template v-for="(work, i) in works">
          <v-flex lg3 md6 xs12 v-if="filter == work.id || filter == 'all'" :key="i">
            <v-hover>
              <v-card slot-scope="{ hover }" flat tile>
                <a v-b-modal="'work'+i">
                  <v-img :src="getImgUrl(work.thumbnail,'storage/work')" height="300px">
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text"
                        style="height: 100%">
                          {{work.name[$i18n.locale]}}
                      </div>
                    </v-expand-transition>
                  </v-img>
                </a>
              </v-card>
            </v-hover>
            <!-- Modal Component -->
            <b-modal :id="'work'+i" body-class="p-0" size="xl" title-tag="h2" hide-footer :title="work.name[$i18n.locale]">
              <v-img v-if="work.banner" :src="getImgUrl(work.banner,'storage/work')">
              </v-img>                        
              <div class="my-4" v-html="work.description[$i18n.locale]" v-if="work.description[$i18n.locale]"></div>
            </b-modal>
          </v-flex>
        </template>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: ['tempColor'],
  data () {
    return {
      filter: 'all',
      works: [],
      categories: []
    }
  },
  beforeCreate: async function () {
    try {
      const works = await axios.get('api/works/paginate')
      this.works = works.data

      const categories = await axios.get('api/category')
      this.categories = categories.data
    } catch (error) {
      console.log(error)
    }
  },
  methods: {
    get_link(slug = '') {
      if(slug != ''){slug = '/'+slug }
      return '/'+this.$i18n.locale+'/'+this.$t('slug.works')+slug
    },
    getImgUrl(pic,path) {
      //return require('@/assets/img/'+pic)
      return '/'+path+'/'+pic
    }
  }
}
</script>

<style lang="scss" scoped>
  #Works {
    min-height: 100vh;
  }
  .v-card--reveal {
    background: black;
    align-items: center;
    top: 0;
    justify-content: center;
    opacity: .7;
    position: absolute;
    width: 100%;
  }
</style>
