<template>
    <!-- Top Toolbar Component -->
    <v-layout row align-center>
        <v-toolbar-side-icon large @click="$emit('update:menuVisible', true)" v-if="windoWidth < 769"></v-toolbar-side-icon>
        <!-- Nav Title -->

        <v-toolbar-title class="px-4" @click="$vuetify.goTo('#Home', {duration: 1000, easing: 'easeInOutCubic', offset: -5})">
            <v-img width="80" :src="getImgUrl('irellia_w.png')" alt="irellia" />
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <!-- Hot links -->
            <v-btn class="mx-1 py-4" flat @click="$vuetify.goTo('#Contact', {duration: 1000, easing: 'easeInOutCubic', offset: -65})">{{$t('Navbar.Contact')}}</v-btn>
            <v-btn class="mx-1 py-4" flat @click="$vuetify.goTo('#Team', {duration: 1000, easing: 'easeInOutCubic', offset: -65})">{{$t('Navbar.Team')}}</v-btn>
            <v-btn class="mx-1 py-4" flat @click="$vuetify.goTo('#Work', {duration: 1000, easing: 'easeInOutCubic', offset: 3})">{{$t('Navbar.Work')}}</v-btn>
            <v-btn class="mx-1 py-4" flat @click="$vuetify.goTo('#About', {duration: 1000, easing: 'easeInOutCubic', offset: -65})">{{$t('Navbar.About')}}</v-btn>
            <!-- Change language -->
            <v-btn class="mx-1 py-1" round outline @click="changeLang($i18n.locale)" v-if="$i18n.locale == 'ar'">En</v-btn>
            <v-btn class="mx-1 py-1" round outline @click="changeLang($i18n.locale)" v-else>عربي</v-btn>
        </v-toolbar-items>
    </v-layout>
</template>

<script>
    export default {
        name: 'Navbar',
        props: ['menuVisible'],
        data () {
            return {
                windoWidth: window.innerWidth
            }
        },
        methods: {
            getImgUrl(pic) {
                //return require('@/assets/img/'+pic)
                return './assets/img/'+pic
            },
            changeLang(lang) {
                if (lang == 'en') {
                    this.$i18n.locale = 'ar'
                    this.$vuetify.rtl = true
                    $('html').attr('dir','rtl');
                } else {
                    this.$i18n.locale = 'en'
                    this.$vuetify.rtl = false
                    $('html').attr('dir','ltr');
                    // document.getElementsByTagName("html")[0].getAttribute("lang");
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // @import '../assets/scss/sections/_navbar.scss';
</style>
