<template>
<v-app>
  <!-- Sections -->
  <v-content class="pa-0" v-scroll="onScroll">
    <!-- Home -->
    <Home :tempColor="clientColor"/>
    <!-- About -->
    <About :tempColor="clientColor"/>
    <!-- Works -->
    <Works :tempColor="clientColor"/>
    <!-- Team -->
    <Team :tempColor="'grey lighten-3'"/>
    <!-- Contact -->
    <Contact :tempColor="clientColor"/>
  </v-content>
</v-app>

</template>
<script>
//import Sidemenu from './components/Sidemenu.vue'
import Home from './sections/Home.vue'
import About from './sections/About.vue'
import Works from './sections/Works.vue'
import Team from './sections/Team.vue'
import Contact from './sections/Contacts.vue'

export default {
  name: 'app',
  data () {
    return {
      clientColor: 'white',
      isVisible: true,
      windoWidth: window.innerWidth,
      offsetTop: 0
    }
  },
  components: {
    //Sidemenu,
    Home,
    About,
    Works,
    Team,
    Contact
  },
  methods: {
    onScroll (e) {
      this.offsetTop = e.target.scrollingElement.scrollTop
    }
  }
}
</script>

<style lang="scss" scoped>
  .v-app {
    font-family: 'Open Sans', sans-serif !important;
  }
</style>
